
<header style="position: fixed;">

    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle (click)="startEn1()"><canvas id="canvas1" width="100%" height="50%"></canvas></mat-button-toggle>
        <mat-button-toggle (click)="startRegister()"><canvas id="canvas2" width="100%" height="50%"></canvas></mat-button-toggle>
        <mat-button-toggle (click)="startWorker()"><canvas id="canvas3" width="100%" height="50%"></canvas></mat-button-toggle>
        <mat-button-toggle (click)="startManneger()"><canvas id="canvas4" width="100%" height="50%"></canvas></mat-button-toggle>
        <mat-button-toggle (click)="startHome()"><canvas id="canvas5" width="100%" height="50%"></canvas></mat-button-toggle>
   
      </mat-button-toggle-group>

</header>
<div id="mainContainer" class="pageContainer">

<div style="background-color:lavender;">
 

      <img id="MidAirExplo0" src="../assets/images/MidAirExplo__000.png" style="display:none;">
      <img id="MidAirExplo1" src="../assets/images/MidAirExplo__001.png" style="display:none;">
      <img id="MidAirExplo2" src="../assets/images/MidAirExplo__002.png" style="display:none;">
      <img id="MidAirExplo3" src="../assets/images/MidAirExplo__003.png" style="display:none;">
      <img id="MidAirExplo4" src="../assets/images/MidAirExplo__004.png" style="display:none;">
      <img id="MidAirExplo5" src="../assets/images/MidAirExplo__005.png" style="display:none;">
      <img id="MidAirExplo6" src="../assets/images/MidAirExplo__006.png" style="display:none;">
      <img id="MidAirExplo7" src="../assets/images/MidAirExplo__007.png" style="display:none;">
      <img id="MidAirExplo8" src="../assets/images/MidAirExplo__008.png" style="display:none;">
    

      <br><br><br>

<router-outlet></router-outlet> 
</div>
</div>
