<div style="padding:20%;">

<br>
welcome: {{userName}}
<br>
<img [src]="imgSrc" height="40" width="40">
<br>

<button mat-button (click)="goToCarsRent()">click here to serch vihacle!</button>
<br>


<h1>your order list:</h1>
<br>
<ul *ngFor="let i of order">
    <div *ngIf="i" class="card" style="width: 18rem;" style="background-color:burlywood">

      <img [src]="i.img" class="card-img-top">
 <div class="card-body">
<li>
producer: {{i.producer}}
</li>
<li>
  model: {{i.model}}
</li>
<li>
  cost per day: {{i.cost_per_day}}
</li>
<li>
  financial_penalty: {{i.financial_penalty}}
</li>
<li>
  production_year: {{i.production_year}}
</li>
<li>
  gear: {{i.gear}}
</li>

<li>
    banking_address: {{i.banking_adress}}
  </li>

  <li>
      banking_longitude: {{i.banking_longitude}}
    </li>

    <li>
        banking_name: {{i.banking_name}}
      </li>
      <li>
        start_renting_date: {{i.start_renting_date}}
      </li>
<br>
</div>
</div>

</ul>

<br>
<button mat-button (click)="logOut()">log out</button>

</div>